* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    /* height: 350px; */
    width: 250px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    
}

.card div {
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card h2 {
    text-align: center;
    margin-top: 10px;
}

.card i {
    position: absolute;
    top: 50%;
    left: 50%;


    font-size: 50px;
    opacity: 0;
    background: linear-gradient(red, rgb(173, 14, 139));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65, 1, .77, 1.44) 0.3s;
}